<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <%- style %>
        <title>HabitTracker</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">HabitTracker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="modal" href="#newFormModal">New</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/view" id="weekviewlink">This Week</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid" id="container">
            <%- body %>
        </div>
            <div class="modal" tabindex="-1" id="newFormModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add a new habit to track!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/create" method="post" id="newHabitForm">
                            <div class="modal-body">
                                <textarea class="form-control" name="description" placeholder="Description"
                                    id="floatingTextarea"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" id="discardbtn"
                                    data-bs-dismiss="modal">Discard</button>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

    </header>
    <%- script %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
            integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
        <script src="/js/script.js"></script>
        <script>
        <% if(locals.flash.success && locals.flash.success.length > 0){ %>
            new Notify ({
                title: '<%= locals.flash.success %>',
                status: 'success',
                effect: 'slide',
                speed: 200,
                autoclose: true
            })
        <% } %>
        <% if(locals.flash.error && locals.flash.error.length > 0){ %>
            new Notify ({
                title: '<%= locals.flash.error %>',
                status: 'error',
                effect: 'slide',
                speed: 200,
                autoclose: true
            })
        <% } %>
        </script>
</body>

</html>